<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
       xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


    <bean id="customer" class="Customer">
        <property name="customerAddress" ref="address"/>
        <property name="customerId" value="20"/>
        <property name="customerName" value="Ravi"/>
        <property name="customerContact" value="1234567890"/>
    </bean>

    <bean id ="customerConstructorInjection" class="Customer">
        <property name="customerAddress" ref="address"/>
        <property name="customerId" value="200"/>
        <property name="customerName" value="Sam"/>
        <property name="customerContact" value="0987654321"/>
    </bean>

    <bean id="address" class="Address">
        <constructor-arg name="street" value="RK Street"/>
        <constructor-arg name="city" value="Golden Nagar"/>
        <constructor-arg name="state" value="Punjab"/>
        <constructor-arg name="zip" value="111111"/>
        <constructor-arg name="country" value="India"/>
    </bean>
</beans>