<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
       xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


    <bean id = "answerSheetList" class="AnswerSheet">
    <property name="questionId" value="1"/>
        <property name="question" value="List Of Fruit : "/>
        <property name="answers">
            <list>
                <value>"Apple"</value>
                <value>"Orange"</value>
                <value>"Grape"</value>
            </list>
        </property>
    </bean>

    <bean id = "answerSheetSet" class="AnswerSheet">
        <property name="questionId" value="1"/>
        <property name="question" value="Cities you have lived in  : "/>
        <property name="answers">
            <set>
                <value>"Bokaro"</value>
                <value>"Ranchi"</value>
                <value>"Kota"</value>
            </set>
        </property>
    </bean>
</beans>